/* 
    Document   : main
    Created on : Mar 1, 2010, 9:50:12 PM
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#home img {
	width: 320px;
}

